.input-form {
	--extra-decor-box-gap: 0.5em;
	--extra-decor-box-gap-half: calc(var(--extra-decor-box-gap) / 2);
	position: relative;
	display: flex;
	align-items: center;
	gap: var(--primary-gap-half);
}
.input-form::before {
	content: "";
	position: absolute;
	width: 1.5em;
	height: 1.5em;
	border-radius: 10em;
	border: 0.1em solid var(--todo-input-decor-box-border-clr);
	top: 50%;
	left: calc(var(--primary-gap-half) + var(--extra-decor-box-gap-half));
	transform: translateY(-50%);
}
.todo-input {
	background-color: var(--todo-input-bg-clr);
	font-size: 1rem;
	font-family: inherit;
	padding: 1.2em var(--primary-gap-2x);
	padding-left: calc(var(--primary-gap-2x) + var(--extra-decor-box-gap));
	width: 100%;
	border: 0;
	border-radius: var(--primary-bdr-rad);
	color: var(--todo-input-clr);
}
.todo-input::placeholder {
	color: var(--todo-input-placeholder-clr);
}
.todo-input:focus-visible {
	outline: 0.5em solid var(--todo-input-focus-outline-clr);
}

.todo-submit-btn {
	 height: 100%;
	 padding-inline: var(--primary-gap-half);
	 background-color: var(--todo-submit-btn-bg-clr);
	 border: .25em solid  var(--todo-submit-btn-bdr-clr);
	 border-radius: var(--primary-bdr-rad);
	 cursor: pointer;
	 font-size: 1rem;
}
.todo-submit-btn:hover {
	background-color: var(--todo-submit-btn-hover-bg-clr);
}
.todo-submit-btn:focus-visible {
	outline: 0.5em solid var(--todo-input-focus-outline-clr);
}
