:root {
	--primary-gap: clamp(1.25em, 2.5vw + 0.15rem, 2em);
	--primary-gap-2x: calc(var(--primary-gap) * 2);
	--primary-gap-half: calc(var(--primary-gap) * 0.5);

	--primary-bdr-rad: 0.5em;

	--input-section-heading-clr: hsl(0, 0%, 100%);
	--theme-btn-hover-bg-clr: hsla(0, 0%, 100%, 0.25);
	--todo-input-focus-outline-clr: hsla(0, 0%, 100%, 0.25);

	--todo-item-checkbox-bg: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));

	--theme-switch-time: 200ms;
}

html {
	--body-bg: hsl(0, 0%, 98%);

	--input-section-fallback-bg: hsl(0, 0%, 50%);
	--input-section-mobile-bg-img: url("./assets/bg-mobile-light.jpg");
	--input-section-desktop-bg-img: url("./assets/bg-desktop-light.jpg");

	--todo-input-bg-clr: hsl(0, 0%, 100%);
	--todo-input-placeholder-clr: hsl(233, 11%, 84%);
	--todo-input-clr: hsl(235, 19%, 35%);
	--todo-input-decor-box-border-clr: hsl(233, 11%, 84%);

	--todo-container-bg: hsl(0, 0%, 100%);
	--todo-container-box-shadow-clr: rgb(229 228 234);

	--todo-list-no-itm-msg-clr: hsl(236, 9%, 61%);
	--todo-list-scrollbar-bg: hsl(233, 11%, 84%);
	--todo-list-scrollbar-thumb: hsl(235, 19%, 50%);
	--todo-list-scrollbar-thumb-hover: hsl(235, 19%, 60%);

	--todo-item-txt-clr: hsl(235, 19%, 35%);
	--todo-item-bdr-clr: hsl(233, 11%, 84%);
	--todo-item-checkbox-border-clr: hsl(233, 11%, 84%);
	--todo-item-checkbox-hover-outline-clr: hsla(0, 0%, 81%, 0.6);
	--todo-item-checkbox-hover-border-clr: hsl(235, 19%, 35%);
	--todo-item-text-done-clr: hsl(233, 11%, 84%);
	--todo-action-container-bdr-clr: var(--todo-item-bdr-clr);
	--todo-action-btn-clr: hsl(236, 9%, 61%);
	--todo-action-btn-hover-clr: hsl(235, 19%, 35%);

	--todo-filter-action-container-bg-clr: var(--todo-container-bg);
	--todo-filter-action-container-box-shadow-clr: rgba(163, 163, 163, 0.25);
	--todo-filter-action-btn-clr: hsl(236, 9%, 61%);
	--todo-filter-action-btn-hover-clr: hsl(235, 19%, 35%);
	--todo-filter-action-btn-active-clr: hsl(220, 98%, 61%);

	--remove-btn-hover-bg-clr: hsla(0, 0%, 81%, 0.6);
	--action-btn-focus-outline-clr: grey;
	color-scheme: light;
}

html.theme_dark {
	--body-bg: hsl(235, 21%, 11%);

	--input-section-fallback-bg: hsl(235, 24%, 19%);
	--input-section-mobile-bg-img: url("./assets/bg-mobile-dark.jpg");
	--input-section-desktop-bg-img: url("./assets/bg-desktop-dark.jpg");

	--todo-input-bg-clr: hsl(235, 24%, 19%);
	--todo-input-placeholder-clr: hsl(234, 11%, 52%);
	--todo-input-clr: hsl(234, 39%, 85%);
	--todo-input-decor-box-border-clr: hsl(233, 14%, 35%);

	--todo-container-bg: hsl(235, 24%, 19%);
	--todo-container-box-shadow-clr: hsl(240, 21%, 7%);

	--todo-list-no-itm-msg-clr: hsl(233, 14%, 35%);
	--todo-list-scrollbar-bg: hsl(233, 14%, 15%);
	--todo-list-scrollbar-thumb: hsl(235, 21%, 30%);
	--todo-list-scrollbar-thumb-hover: hsl(235, 21%, 40%);

	--todo-item-txt-clr: hsl(234, 39%, 85%);
	--todo-item-bdr-clr: hsl(237, 14%, 26%);
	--todo-item-checkbox-border-clr: hsl(233, 14%, 35%);
	--todo-item-checkbox-hover-outline-clr: hsla(0, 0%, 35%, 0.6);
	--todo-item-checkbox-hover-border-clr: hsl(236, 33%, 92%);
	--todo-item-text-done-clr: hsl(233, 14%, 35%);
	--todo-action-container-bdr-clr: var(--todo-item-bdr-clr);
	--todo-action-btn-clr: hsl(233, 14%, 35%);
	--todo-action-btn-hover-clr: hsl(234, 39%, 85%);

	--todo-filter-action-container-bg-clr: var(--todo-container-bg);
	--todo-filter-action-container-box-shadow-clr: hsla(240, 21%, 7%, 0.5);
	--todo-filter-action-btn-clr: hsl(233, 14%, 35%);
	--todo-filter-action-btn-hover-clr: hsl(234, 39%, 85%);
	--todo-filter-action-btn-active-clr: hsl(220, 98%, 61%);

	--remove-btn-hover-bg-clr: hsl(235, 21%, 11%);
	--action-btn-focus-outline-clr: hsl(0, 0%, 25%);
	color-scheme: dark;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: color var(--theme-switch-time) linear,
		background-color var(--theme-switch-time) linear, box-shadow var(--theme-switch-time) linear;
}

body {
	width: 100%;
	min-height: 100vh;
	font-family: "Overpass", sans-serif;
	background: var(--body-bg);
}
